.head-container {
    display: flex;
    justify-content: space-between;
    height: 79px;
    width: 100%;
}

.booki {
    width: 61px;
    height: 19px;
    padding: 30px 50px 30px 0px;
}

nav a{
    padding-top: 6px;
    margin: 0px 25px 0px 25px;
    align-items: flex-end;
}

nav a:hover {
    color: #0065fc;
    border-top: 2px #0065fc solid;
}