@media (max-width: 768px) {
    body {
        margin: 0px;
    }

    .main-container {
        padding: 0px;
    }

    .head-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 6%;
    }

    .booki {
        padding: 5% 0% 4% 0%;
    }

    .head-container nav {
        display: flex;
        width: 100%;
    }

    .head-container nav a:hover {
        color: #0065fc;
        border-top: 0px ;
        border-bottom: 2px #0065fc solid;
    }

    .head-container a {
        margin: 0px;
        padding-bottom: 8px;
        border-bottom: 2px solid #F2F2F2;
        text-align: center;
        width: 50%;
    }

    .recherche-hebergements {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4% 4% 0% 4%;
    }

    .recherche-form form{
        justify-content: center;
    }

    .submit-button {
        display: none;
    }

    .submit-icone {
        position: relative;
        left: -2%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50px;
        border: 1px solid #0065FC;
        border-radius: 15px 15px 15px 15px;
        color: #ffffff;
        background: #0065FC;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .recherche-form input {
        border-right: none;
    }

    .filtres {
        display: flex;
        justify-content: center;
    }

    .filtres div {
        display: flex;
        flex-wrap: wrap;
    }

    .filtres div a {
        margin: 0% 4% 6% 0%;
    }

    .filtres-boutons {
        width: calc(36% - 10px);
        text-align: center;
        font-size: 14px;
    }

    .recherche-plus {
        margin: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    #hebergements {
        background-color: #ffffff;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires a{
        width: 100%;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards .card-title, .hebergements-cards .card-subtitle {
        margin-top: 0px;
        margin-bottom: 2%;
    }
    
    .hebergements-cards a {
        width: 100%;
    }

    .activiter-card {
        flex-direction: column;
    }

    .activiter-card a {
        width: 100%;
        margin: 2% 0% 2% 0%;
    }

    footer {
        flex-direction: column;
    }

    .text-footer {
        padding-left: 4%; 
        width: 95%;
        margin: 0px;
    }
}